{
  "presets": ["next/babel"],
  "plugins": [
    ["prismjs", {
        "languages": [
					"csharp",
					"java",
					"javascript"
				],
        "plugins": [],
        "theme": null,
        "css": false
    }]
  ]
}
