{
  "presets": ["next/babel"],
  "plugins": [
		["module-resolver", {
      "root": ["."]
    }],
    ["prismjs", {
        "languages": [
					"csharp",
					"javascript"
				],
        "plugins": [],
        "theme": null,
        "css": false
    }]
  ]
}
