// This is a special core file, specifically intended to handle the way block
// level elements with inline content interact with each other.

blockquote,
figure,
form,
h2, h3, h4, h5, h6,
ol,
p,
pre,
svg,
table,
ul,
.example-wrapper {
  & + & {
    margin-top: var(--gutter);
  }
}
