[role=banner] {
	background-color: var(--nights);
	display: flex;
	grid-area: banner;
	position: relative;

	&:after {
		background-image: linear-gradient(
			to bottom,
			var(--black-ops),
			var(--transparent)
		);
		content: '';
		display: block;
		height: 0.5rem;
		left: 0;
		opacity: 0.3;
		position: absolute;
		right: 0;
		top: 100%;
	}

	nav {
		background-color: var(--transparent);
		flex-grow: 1;

		ol, ul {
			+ ol,
			+ ul {
				margin-left: auto;
			}
		}
	}

	svg {
		margin-right: 1rem;
	}

	a:hover,
	button:hover {
		background-color: var(--dragon);
	}
}
