.card {
	--cell-gutter: 1rem;

	align-items: flex-start;
	background-color: var(--nights);
	color: var(--white);

	tbody,
	tr {
		width: 100%;
	}

	td, th {
		padding: var(--cell-gutter);
	}

	th {
		background-color: var(--black-ops);
		border-bottom-color: #444;
		width: auto;
	}

	td {
		border-bottom-color: var(--dragon);
		font-size: 0.8em;
		width: 100%;
	}

	img {
		display: block;
		margin: calc(var(--cell-gutter) * -1);
		min-width: calc(100% + (var(--cell-gutter) * 2));
	}
}
