.contributors {
	display: grid;
	grid-gap: var(--gutter);
	grid-template-columns: repeat(auto-fit, minmax(10rem, 25%));

	.contributor,
	.contributions {
	}

	.contributor {
		align-items: flex-start;
		background-color: var(--nights);
		color: var(--white);
		display: flex;
		flex-direction: column;

		td, th {
			padding: 1rem;
		}

		th {
			background-color: var(--black-ops);
			border-bottom-color: #444;
		}

		td {
			border-bottom-color: var(--dragon);
			font-size: 0.8em;

			&.avatar {
				padding: 0;
			}
		}

		img {
			display: block;
		}
	}

	.contributions {
		display: grid;
		grid-gap: 1rem;
		grid-template-columns: repeat(auto-fit, minmax(1em, 10%));
	}
}
