section.hero {
	--hero-margin: calc(var(--gutter) * -1);

	align-items: center;
	background-color: var(--nights);
	color: var(--white);
	display: flex;
	justify-content: space-between;
	margin-bottom: 10rem;
	margin-top: 0;
	padding: 10rem max(10rem, calc(50% - 500px));

	h2 {
		border: none;
	}

	.mote-wrapper {
		align-items: center;
		display: flex;
		font-size: 10em;
		justify-content: center;
		margin-right: 4rem;

		.mote {
			margin: 0;
		}
	}

	.call-to-action {
		display: flex;
		flex-direction: column;
		max-width: 70%;
	}

	.button {
		align-self: flex-start;
		background-color: var(--black-ops);
		display: inline-block;
		margin-top: var(--gutter);
		padding: var(--gutter) 4rem;
		text-decoration: none;

		[data-icon] {
			margin-left: var(--gutter);
		}
	}
}
