@keyframes mote-blink {
	from {
		transform: scaleY(1);
	}

	95% {
		transform: scaleY(1);
	}

	to {
		transform: scaleY(0);
	}
}

@keyframes mote-eyes-get-sad {
	0% {
		transform: translate(0, 0) scaleY(1);
	}

	10% {
		transform: translate(7%, -10%) scaleY(1);
	}

	17% {
		transform: translate(10%, -10%) scaleY(1);
	}

	20% {
		transform: translate(7%, -9%) scaleY(1);
	}

	27% {
		transform: translate(10%, -9%) scaleY(1);
	}

	30% {
		transform: translate(7%, -8%) scaleY(1);
	}

	37% {
		transform: translate(10%, -8%) scaleY(1);
	}

	40% {
		transform: translate(7%, -20%) scaleY(1.2);
	}

	60% {
		--sadness-level: 0;
		transform: translate(7%, -20%) scaleY(1.2);
	}

	100% {
		--sadness-level: 30;
		transform: translate(0, 30%) scaleY(0.6)
	}
}

@keyframes mote-eyes-wander {
	from {
		transform: translateX(0);
	}

	90% {
		transform: translateX(0);
	}

	95% {
		transform: translateX(-10%);
	}

	to {
		transform: translateX(-10%);
	}
}

@keyframes mote-search {
	0% {
		transform:
			translate(0, 0)
			scaleX(1)
			scaleY(1);
	}

	// Jump
	8% {
		transform:
			translate(0, 0)
			scaleX(1)
			scaleY(1);
	}

	10% {
		transform:
			translate(0, 2rem)
			scaleX(1.2)
			scaleY(0.8);
	}

	11% {
		transform:
			translate(
				calc((var(--jump-distance) / 2) * 1rem),
				calc(var(--jump-height) * -1rem)
			)
			scaleX(0.8)
			scaleY(1.2);
	}

	12% {
		transform:
			translate(
				calc(var(--jump-distance) * 1rem),
				2rem
			)
			scaleX(1.2)
			scaleY(0.8);
	}

	14% {
		transform:
			translate(
				calc(var(--jump-distance) * 1rem),
				0
			)
			scaleX(1)
			scaleY(1);
	}

	// turn
	34% {
		transform:
			translate(
				calc(var(--jump-distance) * 1rem),
				0
			)
			scaleX(1)
			scaleY(1);
	}

	35% {
		transform:
			translate(
				calc(var(--jump-distance) * 1rem),
				0
			)
			scaleX(-1)
			scaleY(1);
	}

	// Jump
	36% {
		transform:
			translate(
				calc(var(--jump-distance) * 1rem),
				0
			)
			scaleX(-1)
			scaleY(1);
	}

	38% {
		transform:
			translate(
				calc(var(--jump-distance) * 1rem),
				2rem
			)
			scaleX(-1.2)
			scaleY(0.8);
	}

	39% {
		transform:
			translate(
				calc((var(--jump-distance) / 2) * 1rem),
				calc(var(--jump-height) * -1rem)
			)
			scaleX(-0.8)
			scaleY(1.2);
	}

	40% {
		transform:
			translate(0, 2rem)
			scaleX(-1.2)
			scaleY(0.8);
	}

	42% {
		transform:
			translate(0, 0)
			scaleX(-1)
			scaleY(1);
	}

	// Jump
	43% {
		transform:
			translate(0, 0)
			scaleX(-1)
			scaleY(1);
	}

	44% {
		transform:
			translate(0, 2rem)
			scaleX(-1.2)
			scaleY(0.8);
	}

	45% {
		transform:
			translate(
				calc((var(--jump-distance) / 2) * -1rem),
				calc(var(--jump-height) * -1rem)
			)
			scaleX(-0.8)
			scaleY(1.2);
	}

	46% {
		transform:
			translate(
				calc(var(--jump-distance) * -1rem),
				2rem
			)
			scaleX(-1.2)
			scaleY(0.8);
	}

	48% {
		transform:
			translate(
				calc(var(--jump-distance) * -1rem),
				0
			)
			scaleX(-1)
			scaleY(1);
	}

	// Turn
	78% {
		transform:
			translate(
				calc(var(--jump-distance) * -1rem),
				0
			)
			scaleX(-1)
			scaleY(1);
	}

	79% {
		transform:
			translate(
				calc(var(--jump-distance) * -1rem),
				0
			)
			scaleX(1)
			scaleY(1);
	}

	// Jump
	81% {
		transform:
			translate(
				calc(var(--jump-distance) * -1rem),
				0
			)
			scaleX(1)
			scaleY(1);
	}

	82% {
		transform:
			translate(
				calc(var(--jump-distance) * -1rem),
				2rem
			)
			scaleX(1.2)
			scaleY(0.8);
	}

	83% {
		transform:
			translate(
				calc((var(--jump-distance) / 2) * -1rem),
				calc(var(--jump-height) * -1rem),
			)
			scaleX(0.8)
			scaleY(1.2);
	}

	84% {
		transform:
			translate(0, 2rem)
			scaleX(1.2)
			scaleY(0.8);
	}

	86% {
		transform:
			translate(0, 0)
			scaleX(1)
			scaleY(1);
	}

	100% {
		transform:
			translate(0, 0)
			scaleX(1)
			scaleY(1);
	}
}

#mote {
	--angriness-level: 0;
	--sadness-level: 0;

	--jump-distance: 10;
	--jump-height: 5;

	display: inline-block;
	fill: currentColor;
	margin-right: 1rem;

	#eyes,
	#left,
	#right {
		animation-direction: alternate;
		animation-timing-function: ease-in-out;
		animation-iteration-count: infinite;
		transition-duration: 1s;
		transition-property: all;
	}

	#eyes {
		animation-duration: 5s;
		animation-name: mote-eyes-wander;
		transform: translateY(0) scaleY(1);
	}

	#left,
	#right {
		animation-duration: 2.3s;
		animation-name: mote-blink;
		transform-origin: 70% 70%;
	}

	#left {
		clip-path: polygon(
			0 calc(var(--sadness-level) * 1%),
			100% calc(var(--angriness-level) * 1%),
			100% 100%,
			0 100%,
		);
	}

	#right {
		clip-path: polygon(
			0 calc(var(--angriness-level) * 1%),
			100% calc(var(--sadness-level) * 1%),
			100% 100%,
			0 100%,
		);
	}

	&[data-emotion=sad] {
		#eyes {
			animation-delay: 3s;
			animation-direction: normal;
			animation-duration: 5s;
			animation-fill-mode: forwards;
			animation-iteration-count: 1;
			animation-name: mote-eyes-get-sad;

			* {
				animation: none;
			}
		}
	}

	&[data-action=search] {
		animation-duration: 10s;
		animation-timing-function: cubic-bezier(.52,.12,.63,.94);
		animation-iteration-count: infinite;
		animation-name: mote-search;
	}
}
