.panel {
	border-color: var(--nights);
	border-radius: calc(var(--gutter) / 2);
	border-style: solid;
	border-width: 0.1rem;
	display: grid;
	grid-template-rows: auto 1fr auto;
	overflow: hidden;

	footer, header {
		background-color: var(--nights);
		color: var(--white);
		padding: calc(var(--gutter) / 2) var(--gutter);
	}

	footer {
		display: flex;
		justify-content: flex-end;
	}

	header {
		font-weight: bold;
	}

	.panel-content {
		background-color: var(--ice);
		padding: var(--gutter);
	}
}
