.simulator {
	bottom: 0;
	box-shadow: 0 0 1rem var(--black-ops);
	position: absolute;
	right: var(--gutter);

	> div {
		display: grid;
		grid-template-areas:
			'header header'
			'channel-list channel'
			'channel-list form';
		grid-template-columns: 25% 1fr;
		grid-template-rows: auto 1fr auto;
		max-height: 40vh;
		overflow: hidden;
	}

	header {
		align-items: center;
		background-color: var(--nights);
		color: var(--white);
		display: flex;
		grid-area: header;
		position: relative;

		h2, button {
			padding: 0.5rem 1rem;
		}

		h2 {
			border: none;
			font-size: 1em;
		}

		menu {
			margin-left: auto;
		}
	}

	.channel-list {
		align-items: stretch;
		background-color: var(--black-ops);
		border-right-color: hsla(var(--smoke-h), var(--smoke-s), var(--smoke-l), 0.3);
		border-right-style: solid;
		border-right-width: 0.1rem;
		display: flex;
		flex-direction: column;
		grid-area: channel-list;

		button {
			background-color: var(--transparent);
			color: var(--smoke);
			padding: 0.5rem 1rem;
			text-align: left;
			width: 100%;

			&.active {
				color: var(--dragon);
			}
		}
	}

	.channel {
		align-content: stretch;
		background-color: var(--black-ops);
		color: var(--white);
		flex-grow: 1;
		grid-area: channel;
		overflow: auto;

		ol {
			display: flex;
			flex-direction: column;
			flex-grow: 1;
			flex-shrink: 0;
			justify-content: flex-end;
			min-height: 100%;
		}

		li {
			display: grid;
			grid-gap: 1rem;
			grid-template-columns: auto 1fr;
			padding: 1rem;

			time {
				opacity: 0.5;
			}
		}

		.emote {
			max-height: 2ex;
		}

		.message-details {
			font-size: 0.8em;
			opacity: 0.5;
		}

		.highlight {
			background-color: rgba(white, 0.15);
			border-left-color: var(--wipe-out);
			border-left-style: solid;
			border-left-width: 0.5rem;
		}

		.accent {
			color: var(--wipe-out);
		}

		.subscription {
			background-color: rgba(white, 0.15);
			border-left-color: var(--wipe-out);
			border-left-style: solid;
			border-left-width: 0.5rem;
		}

		.system p {
			opacity: 0.5;
			font-style: italic;
		}
	}

	form {
		background-color: var(--black-ops);
		border-top-color: hsla(var(--smoke-h), var(--smoke-s), var(--smoke-l), 0.3);
		border-top-style: solid;
		border-top-width: 0.1rem;
		color: var(--white);
		display: grid;
		flex-shrink: 1;
		grid-area: form;
		grid-template-columns: 1fr auto;
		position: relative;
	}

	.autocomplete {
		bottom: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;

		button {
			background-color: var(--black-ops);
			padding: 0 1rem;
			text-align: left;
			width: 100%;

			&.active {
				background-color: var(--dragon);
			}
		}
	}

	input {
		background-color: rgba(white, 0.15);
		border: none;
		border-radius: none;
		color: var(--white);
		font-family: inherit;
		font-size: inherit;
		margin: 0;
		padding: 1rem;
	}

	button {
		background-color: var(--nights);
		color: var(--white);
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}
