.simulator {
	bottom: 0;
	box-shadow: 0 0 1rem var(--black-ops);
	display: flex;
	flex-direction: column;
	height: 40vh;
	position: absolute;
	right: var(--gutter);
	width: 40vw;

	header {
		background-color: var(--nights);
		color: var(--white);
		position: relative;

		h2 {
			font-size: 1em;
			padding: 0.5rem 1rem;
		}
	}

	.status {
		background-color: var(--dragon);
		color: var(--white);
		font-size: 0.8em;
		font-style: italic;
		left: 0;
		opacity: 1;
		padding: 0.5rem 1rem;
		position: absolute;
		right: 0;
		top: calc(100% - 1px);
		transform: translateY(0);
		transition-duration: 1s;
		transition-property:
			opacity,
			transform;

		&[hidden] {
			display: initial;
			opacity: 0;
			pointer-events: none;
			transform: translateY(-100%);
			transition-delay: 0.5s;
		}
	}

	.channel {
		align-content: stretch;
		background-color: var(--black-ops);
		color: var(--white);
		flex-grow: 1;
		overflow: auto;

		ol {
			display: flex;
			flex-direction: column;
			flex-grow: 1;
			flex-shrink: 0;
			justify-content: flex-end;
			min-height: 100%;
		}

		li {
			display: grid;
			grid-gap: 1rem;
			grid-template-columns: auto 1fr;
			padding: 1rem;

			time {
				opacity: 0.5;
			}
		}

		.subscription {
			background-color: rgba(white, 0.15);
			border-left-color: var(--wipe-out);
			border-left-style: solid;
			border-left-width: 0.5rem;
		}
	}

	form {
		background-color: var(--black-ops);
		color: var(--white);
		display: grid;
		grid-template-columns: 1fr auto;
		position: relative;

		.autocomplete {
			bottom: 100%;
			display: flex;
			flex-direction: column;
			left: 0;
			position: absolute;
			right: 0;

			button {
				padding: 0 1rem;
				text-align: left;
				width: 100%;

				&.active {
					background-color: var(--dragon);
				}
			}
		}
	}

	input {
		background-color: rgba(white, 0.15);
		border: none;
		border-radius: none;
		color: var(--white);
		font-family: inherit;
		font-size: inherit;
		margin: 0;
		padding: 1rem;
	}

	button {
		background-color: var(--nights);
		color: var(--white);
	}
}
